.cart-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

.title {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
}

/* TABLEAU */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.cart-header {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    padding: 15px 0;
    font-weight: bold;
    border-bottom: 2px solid #eee;
}

.cart-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    padding: 18px 0;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Prix + sous-total */
.price, .subtotal {
    font-weight: 600;
}

/* Select quantité */
.qty-select {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* BOUTONS */
.cart-buttons {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.btn-return,
.btn-update {
    padding: 12px 20px;
    background: #111827;
    color: #d4af37; /* OR */;
    border: 2px solid #cdaa7d;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.btn-return:hover {
    background: #cdaa7d;
    color: #000;   
}

.btn-update {
    background: #cdaa7d;    
}


/* BAS DE PAGE */
.cart-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


/* CART TOTAL BOX */
.cart-total-box {
    width: 350px;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 6px;
}

.cart-total-box h3 {
    margin-bottom: 20px;
    font-size: 22px;
}

.total-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.total-final {
    font-weight: bold;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.btn-checkout {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #cdaa7d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
