/* --- Container général --- */
.wishlist-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    color: #111;
}

/* --- Titre principal --- */
.wishlist-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    padding: 30px;
}

/* --- Section lorsque la wishlist est vide --- */
.wishlist-empty {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    margin-bottom: 50px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.05);
}

.wishlist-empty h2 {
    font-size: 24px;
    font-weight: 600;
}

.wishlist-empty p {
    margin: 10px 0 25px;
    color: #555;
}

/* --- Bouton Retourner à la boutique --- */
.btn-return {
    background: #000;
    color: #d4af37; /* OR */
    padding: 12px 25px;
    border: 2px solid #d4af37;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-return:hover {
    background: #d4af37;
    color: #000;
}

/* --- Section articles populaires --- */
.wishlist-popular h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* --- Grid des produits --- */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

/* --- Carte produit --- */
.product-card {
    width: 270px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 3px 12px rgba(0,0,0,0.05);
}

.product-card:hover { 
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.12);
}

/* --- Image produit --- */
.product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* --- Nom produit --- */
.product-card h3 {
    margin: 15px 0 5px;
    font-size: 18px;
    font-weight: 600;
}

/* --- Prix --- */
.price {
    font-size: 18px;
    color: #d4af37;
    font-weight: bold;
    margin-bottom: 15px;
}

/* --- Bouton Ajouter au panier --- */
.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #cdaa7d; /* OR CLAIR */
    border: 2px solid #cdaa7d;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.addIcon {
  margin-right: 8px;
}

.btn-add:hover {
    background: #cdaa7d;
    color: #000;
}
