.page {
  font-family: var(--font-geist-sans);
  color: var(--text-primary);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.main {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.heroPretitle {
  font-size: 0.95rem;
  color: var(--text-secondary);
  background-color: var(--border);
  padding: 0.5rem 1rem;
  border-radius: 50vh;
}

.heroImage {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 380px;
  height: 400px;
}

.heroImage img {
  display: block;
  width: 100%;
  height: 100%;
}

.heroContent {
  height: 100%;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 16px 0;
}

.heroSubtitle {
  font-size: 1.125rem;
  color: var(--text-muted);
  margin-bottom: 24px;
  max-width: 600px;
}
.heroButton {
  background-color: var(--foreground);
  color: #fff;
  border: none;
  padding: 8px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 16px;
  transition: background-color 0.3s ease;
}

.heroButton1 {
  background-color: var(--background);
  color: #000000;
  border: 1px solid #000000;
  padding: 8px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 16px;
  transition: background-color 0.3s ease;
}

.banner {
  width: 100%;
  height: 200px;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
}

.bannerContent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 16px;
}

.feature {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 16px;
}

.bannerDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.bannerTitle {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
}

.bannerSub {
  display: flex;
  font-size: 1rem;
}
.banner img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.section {
  padding: 40px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subheading {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.sectionTitle {
  font-size: 1.5rem;
}
.title {
  font-size: 1.2rem;
  margin: 12px 0;
}

.productsGrid {
  grid-template-columns: 1fr;
  gap: 16px;
}
